html { 
	height: 100%;
}
#headerLogo {
	position: absolute;
	top: 0;
	z-index: 500;
}
body {
	height: 100%; 
	margin: 0; 
	padding: 0;
}
      
#fredericton-map { 
	height: 100%;
	width: 100%; 
	margin-left: auto;
    margin-right: auto;
}
	  
.pop_up_box_text { 
	font-size: 16px; 
	line-height: 22px; 
	display: inline; 
}

h1{

	font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
  text-align: center;
	
}
